<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{#accordion-list-item
      title=(t "nodeDriver.aliyunecs.access.title")
      detail=(t "nodeDriver.aliyunecs.access.detail")
      expandAll=expandAll
      expand=(action expandFn)
      expandOnInit=true
    }}
      {{#if (eq step 1)}}
        {{form-auth-cloud-credential
          cloudCredentials=cloudCredentials
          driverName=cloudCredentialDriverName
          parseAndCollectErrors=(action "errorHandler")
          finishAndSelectCloudCredential=(action "finishAndSelectCloudCredential")
          primaryResource=primaryResource
          region=config.region
          hideSave=true
        }}
      {{else}}
        <div class="row">
          <div class="col span-4">
            <label class="acc-label">
              {{t "formAuthCloudCredential.label"}}
            </label>
            <div>
              {{selectedCloudCredential.displayName}}
            </div>
          </div>
        </div>
      {{/if}}
    {{/accordion-list-item}}

    {{#if (eq step 1)}}
      {{top-errors errors=errors}}
      {{save-cancel
              editing=(eq mode "edit")
              save=(action "alyLogin")
              cancel=(action "cancel")
              createLabel="nodeDriver.aliyunecs.accountSection.next"
              savingLabel="nodeDriver.aliyunecs.accountSection.loading"
              saveDisabled=(not primaryResource.cloudCredentialId)
      }}
    {{/if}}

    <div class="{{unless (gte step 2) "hide"}}">
      {{#accordion-list-item
              title=(t "nodeDriver.aliyunecs.networkSection.label")
              detail=(t "nodeDriver.aliyunecs.networkSection.detail")
              expandAll=expandAll
              expand=(action expandFn)
              expandOnInit=true
      }}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.resourceGroup.label"}}
            </label>
            {{#input-or-display
                    editable=(eq step 2)
                    value=resourceGroupShowValue
            }}
              {{new-select
                      class="form-control"
                      content=resourceGroupChoices
                      value=config.resourceGroupId
              }}
            {{/input-or-display}}
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.region.label"}}
            </label>
            {{#input-or-display editable=(eq step 2) value=regionShowValue}}
              {{new-select
                      classNames="form-control"
                      content=regions
                      value=config.region
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.zone.label"}}{{field-required}}
            </label>
            {{#input-or-display editable=(eq step 2) value=zoneShowValue}}
              {{new-select
                      classNames="form-control"
                      content=zones
                      value=config.zone
                      optionLabelPath="raw.LocalName"
                      prompt="nodeDriver.aliyunecs.zone.prompt"
                      localizedPrompt=true
              }}
            {{/input-or-display}}
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.vpcId.label"}}{{field-required}}
            </label>
            {{#input-or-display editable=(eq step 2) value=vpcShowValue}}
              {{new-select
                      classNames="form-control"
                      content=vpcs
                      value=config.vpcId
                      prompt="nodeDriver.aliyunecs.vpcId.prompt"
                      localizedPrompt=true
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.securityGroup.label"}}
            </label>
            {{#input-or-display editable=(eq step 2) value=securityGroupShowValue}}
              {{new-select
                      classNames="form-control"
                      content=securityGroups
                      value=config.securityGroup
                      prompt="nodeDriver.aliyunecs.securityGroup.prompt"
                      localizedPrompt=true
              }}
              {{#if (or (not config.securityGroup) (eq config.securityGroup "docker-machine"))}}
                <p class="help-block">
                  {{t
                          "nodeDriver.aliyunecs.securityGroup.defaultCreate"
                          groupName="docker-machine"
                          htmlSafe=true
                  }}
                </p>
              {{/if}}
            {{/input-or-display}}
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.vswitchId.label"}}{{field-required}}
            </label>
            {{#input-or-display editable=(eq step 2) value=vswitchShowValue}}
              {{new-select
                      classNames="form-control"
                      content=filteredVSwitches
                      value=config.vswitchId
                      prompt="nodeDriver.aliyunecs.vswitchId.prompt"
                      localizedPrompt=true
              }}
            {{/input-or-display}}
          </div>

          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.privateAddressOnly.label"}}
            </label>
            {{#input-or-display editable=(eq step 2) value=config.privateAddressOnly}}
              <div>
                {{input
                        type="checkbox"
                        class="form-control"
                        checked=config.privateAddressOnly
                }}
              </div>
            {{/input-or-display}}
          </div>
        </div>

        <div class="row">
          <div class="col span-6 {{unless (eq config.privateAddressOnly false) "hide"}}">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.internetChargeType.label"}}
            </label>
            {{#input-or-display editable=(eq step 2) value=internetChargeShowValue}}
              {{new-select
                      classNames="form-control"
                      content=internetChargeTypes
                      optionLabelPath="label"
                      optionValuePath="value"
                      value=config.internetChargeType
                      localizedPrompt=true
              }}
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}

      {{#if (eq step 2)}}
        {{top-errors errors=errors}}
        {{save-cancel
                save=(action "loadInstanceTypes")
                cancel=(action "cancel")
                createLabel="nodeDriver.aliyunecs.networkSection.next"
                savingLabel="nodeDriver.aliyunecs.networkSection.loading"
        }}
      {{/if}}
    </div>

    <div class="{{unless (gte step 3) "hide"}}">
      {{#accordion-list-item
              title=(t "nodeDriver.aliyunecs.instanceOptionsSection.label")
              detail=(t "nodeDriver.aliyunecs.instanceOptionsSection.detail")
              expandAll=expandAll
              expand=(action expandFn)
              expandOnInit=true
      }}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.instanceChargeType.label"}}{{field-required}}
            </label>
          {{#input-or-display editable=(eq step 3) value=instanceChargeTypeShowValue}}
            {{new-select
              classNames="form-control"
              content=instanceChargeTypeOptions
              value=instanceChargeType
              change=(action 'instanceChargeTypeChange')
            }}
          {{/input-or-display}}
          </div>

          {{#if (eq instanceChargeType 'PrePaid')}}
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.periodUnit.label"}}{{field-required}}
            </label>
          {{#input-or-display editable=(eq step 3) value=periodUnitShowValue}}
            {{new-select
              classNames="form-control"
              content=periodUnitOptions
              value=periodUnit
              change=(action 'periodUnitChange')
            }}
          {{/input-or-display}}
          </div>
          {{/if}}
        </div>

        {{#if (eq instanceChargeType 'SpotStrategy')}}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">{{t "nodeDriver.aliyunecs.spotDuration.label"}}</label>
            <div class="radio">
              <label>
                {{radio-button disabled=(not-eq step 3) selection=config.spotDuration value='1'}}
                {{t 'nodeDriver.aliyunecs.spotDuration.default'}}
              </label>
            </div>
            <div class="radio">
              <label>
                {{radio-button disabled=(not-eq step 3) selection=config.spotDuration value='0'}}
                {{t 'nodeDriver.aliyunecs.spotDuration.none'}}
              </label>
            </div>
          </div>

          <div class="col span-6">
            <label class="acc-label">{{t "nodeDriver.aliyunecs.spotStrategy.label"}}</label>
            <div class="radio">
              <label>
                {{radio-button disabled=(not-eq step 3) selection=config.spotStrategy value='SpotAsPriceGo'}}
                {{t 'nodeDriver.aliyunecs.spotStrategy.spotAsPriceGo'}}
              </label>
            </div>
            <div class="radio">
              <label>
                {{radio-button disabled=(not-eq step 3) selection=config.spotStrategy value='SpotWithPriceLimit'}}
                {{t 'nodeDriver.aliyunecs.spotStrategy.spotWithPriceLimit.label'}}
              </label>
            </div>
            {{#if (eq config.spotStrategy 'SpotWithPriceLimit')}}
            <div class="input-group">
              {{#if (eq step 3)}}
                {{input
                  type="number"
                  min=1
                  max=10000
                  maxPrecision=3
                  class="form-control"
                  value=config.spotPriceLimit
                  change=(action 'spotPriceLimitChange')
                  placeholder=(t "nodeDriver.aliyunecs.spotStrategy.spotWithPriceLimit.placeholder")
                }}
                <div class="input-group-addon bg-default">{{t 'nodeDriver.aliyunecs.spotStrategy.suffix'}}</div>
              {{else}}
                {{config.spotPriceLimit}} {{t 'nodeDriver.aliyunecs.spotStrategy.suffix'}}
              {{/if}}
            </div>
            {{/if}}
          </div>

        </div>
        {{/if}}

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.instanceDescription.label"}}
            </label>
          {{#input-or-display editable=(eq step 3) value=config.description}}
            {{input
                    type="text"
                    class="form-control"
                    value=config.description
                    placeholder=(t "nodeDriver.aliyunecs.instanceDescription.placeholder")
            }}
          {{/input-or-display}}
          </div>
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.instanceType.label"}}
            </label>
          {{#input-or-display editable=(eq step 3) value=config.instanceType}}
            {{new-select
                    classNames="form-control"
                    content=instanceTypes
                    value=config.instanceType
            }}
          {{/input-or-display}}
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.systemImage.label"}}{{field-required}}
            </label>
            {{#input-or-display editable=(eq step 3) value=config.imageId}}
            {{new-select
                    classNames="form-control"
                    content=images
                    optionValuePath="value"
                    value=config.imageId
            }}
            {{/input-or-display}}
          </div>
          {{#if (not config.privateAddressOnly)}}
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.internetMaxBandwidth.label"}}
            </label>
            <div class="input-group">
              {{#if (eq step 3)}}
                {{input-integer
                        min=1
                        max=200
                        class="form-control"
                        value=config.internetMaxBandwidth
                        placeholder=(t "nodeDriver.aliyunecs.internetMaxBandwidth.placeholder")
                }}
                <div class="input-group-addon bg-default">Mbps</div>
              {{else}}
                {{config.internetMaxBandwidth}} Mbps
              {{/if}}

            </div>
          </div>
          {{/if}}
        </div>

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.aliyunSLB.label"}}
            </label>
            {{#input-or-display editable=(eq step 3) value=config.slbId}}
            {{input
                    type="text"
                    class="form-control"
                    value=config.slbId
                    placeholder=(t "nodeDriver.aliyunecs.aliyunSLB.placeholder")
            }}
            {{/input-or-display}}
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
            {{#if (eq step 3)}}
              {{form-value-array
                      initialValues=config.tag
                      addActionLabel="nodeDriver.aliyunecs.tags.addActionLabel"
                      valueLabel="nodeDriver.aliyunecs.tags.valueLabel"
                      valuePlaceholder="nodeDriver.aliyunecs.tags.placeholder"
                      changed=(action (mut config.tag))
              }}
            {{/if}}
          </div>
        </div>
      {{/accordion-list-item}}

    {{#if (eq step 3)}}
      {{top-errors errors=errors}}
      {{save-cancel
              save=(action "loadStorageTypes")
              cancel=(action "cancel")
              createLabel="nodeDriver.aliyunecs.instanceSection.next"
              savingLabel="nodeDriver.aliyunecs.instanceSection.loading"
      }}
    {{/if}}
    </div>

    <div class="{{unless (gte step 4) "hide"}}">
      {{#accordion-list-item
              title=(t "nodeDriver.aliyunecs.storageSection.label")
              detail=(t "nodeDriver.aliyunecs.storageSection.detail")
              expandAll=expandAll
              expand=(action expandFn)
              expandOnInit=true
      }}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.systemDiskCategory.label"}}
            </label>
            {{#input-or-display editable=(eq step 4) value=config.systemDiskCategory}}
              {{new-select
                      classNames="form-control"
                      content=systemDiskChoices
                      optionLabelPath="label"
                      optionValuePath="value"
                      localizedLabel=true
                      value=config.systemDiskCategory
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.systemDiskSize.label"}}{{field-required}}
            </label>
            {{#input-or-display editable=(eq step 4) value=config.systemDiskSize}}
              <div class="input-group">
                {{input-integer
                        min=systemDiskMin
                        max=500
                        class="form-control"
                        value=config.systemDiskSize
                        placeholder=(t "nodeDriver.aliyunecs.systemDiskSize.placeholder" min=systemDiskMin)
                }}
                <div class="input-group-addon bg-default">GB</div>
              </div>
            {{/input-or-display}}
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.dataDiskCategory.label"}}
            </label>
            {{#input-or-display editable=(eq step 4) value=config.diskCategory}}
              {{new-select
                      classNames="form-control"
                      content=dataDiskChoices
                      optionLabelPath="label"
                      optionValuePath="value"
                      localizedLabel=true
                      value=config.diskCategory
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.aliyunecs.dataDiskSize.label"}}
            </label>
            {{#input-or-display editable=(eq step 4) value=config.diskSize}}
              <div class="input-group">
                {{input-integer
                        min=dataDiskMin
                        max=32768
                        class="form-control"
                        value=config.diskSize
                        nullable=true
                        placeholder=(t "nodeDriver.aliyunecs.dataDiskSize.placeholder" min=dataDiskMin)
                }}
                <div class="input-group-addon bg-default">GB</div>
              </div>
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}

      <div class="over-hr">
      <span>
        {{templateOptionsTitle}}
      </span>
      </div>

      {{form-name-description
              model=model
              nameRequired=true
              rowClass="row mb-10"
      }}

      {{form-user-labels
              initialLabels=labelResource.labels
              setLabels=(action "setLabels")
              expand=(action expandFn)
      }}

      {{form-node-taints
              model=model
              expand=(action expandFn)
      }}

      {{form-engine-opts
              machine=model
              showEngineUrl=showEngineUrl
      }}

      {{#if (eq step 4)}}
        {{top-errors errors=errors}}
        {{save-cancel
                save=(action "save")
                cancel=(action "cancel")
                editing=editing
        }}
      {{/if}}
    </div>
  {{/accordion-list}}
</section>